@import "rules/border-collapse";
@import "rules/border";
@import "rules/border-color";
@import "rules/border-style";
@import "rules/border-width";
@import "rules/border-top";
@import "rules/border-top-color";
@import "rules/border-top-width";
@import "rules/border-right";
@import "rules/border-right-color";
@import "rules/border-right-width";
@import "rules/border-bottom";
@import "rules/border-bottom-color";
@import "rules/border-bottom-width";
@import "rules/border-left";
@import "rules/border-left-color";
@import "rules/border-left-width";
@import "rules/border-radius";
@import "rules/border-image";
@import "rules/outline";
@import "rules/outline-width";
@import "rules/outline-style";
@import "rules/outline-color";
