@import "rules/margin";
@import "rules/margin-top";
@import "rules/margin-right";
@import "rules/margin-bottom";
@import "rules/margin-left";
@import "rules/margin-x0";
@import "rules/margin-y0";
@import "rules/margin-x-auto";
@import "rules/margin-y-auto";
@import "rules/margin-x-xs";
@import "rules/margin-y-xs";
@import "rules/margin-x-sm";
@import "rules/margin-y-sm";
@import "rules/margin-x-md";
@import "rules/margin-y-md";
@import "rules/margin-x-lg";
@import "rules/margin-y-lg";
@import "rules/margin-x-xl";
@import "rules/margin-y-xl";
