@import "rules/color";
@import "rules/list-style";
@import "rules/list-style-position";
@import "rules/list-style-type";
@import "rules/list-style-image";
@import "rules/vertical-align";
@import "rules/text-align";
@import "rules/text-decoration";
@import "rules/text-emphasis";
@import "rules/text-indent";
@import "rules/text-overflow";
@import "rules/text-transform";
@import "rules/text-shadow";
@import "rules/line-height";
@import "rules/white-space";
@import "rules/word-break";
@import "rules/word-wrap";
@import "rules/letter-spacing";
@import "rules/font-weight";
@import "rules/font-style";
@import "rules/font-variant";
@import "rules/font-size";
@import "rules/font-family";
@import "rules/opacity";
@import "rules/webkit-font-smoothing";
@import "rules/text-truncation";
@import "rules/text-hiding";
@import "rules/reset-list";
