/*! Emma.css 0.13.0 | MIT License | https://git.io/emma */
.pos-s { position: static !important; }
.pos-r { position: relative !important; }
.pos-a { position: absolute !important; }
.pos-sk { position: sticky !important; }
.pos-f { position: fixed !important; }
.t-a { top: auto !important; }
.t0 { top: 0 !important; }
.t100p { top: 100% !important; }
.r-a { right: auto !important; }
.r0 { right: 0 !important; }
.r100p { right: 100% !important; }
.b-a { bottom: auto !important; }
.b0 { bottom: 0 !important; }
.b100p { bottom: 100% !important; }
.l-a { left: auto !important; }
.l0 { left: 0 !important; }
.l100p { left: 100% !important; }
.z-a { z-index: auto !important; }
.z0 { z-index: 0 !important; }
.z1 { z-index: 1 !important; }
.z2 { z-index: 2 !important; }
.z3 { z-index: 3 !important; }
.z4 { z-index: 4 !important; }
.z5 { z-index: 5 !important; }
.z6 { z-index: 6 !important; }
.z9999 { z-index: 9999 !important; }
.bxz-cb { box-sizing: content-box !important; }
.bxz-bb { box-sizing: border-box !important; }
.d-i { display: inline !important; }
.d-n { display: none !important; }
.d-b { display: block !important; }
.d-ib { display: inline-block !important; }
.d-fx { display: flex !important; }
.d-ifx { display: inline-flex !important; }
.d-tb { display: table !important; }
.d-itb { display: inline-table !important; }
.d-tbhg { display: table-header-group !important; }
.d-tbfg { display: table-footer-group !important; }
.d-tbrg { display: table-row-group !important; }
.d-tbr { display: table-row !important; }
.d-tbc { display: table-cell !important; }
.d-li { display: list-item !important; }
.d-ih { display: inherit !important; }
.fx0-1-a { flex: 0 1 auto !important; }
.fx1-0-a { flex: 1 0 auto !important; }
.fx1-1-a { flex: 1 1 auto !important; }
.fx0-0-a { flex: 0 0 auto !important; }
.fx-n { flex: none !important; }
.fx1-0-0 { flex: 1 0 0% !important; }
.fx0-0-100p { flex: 0 0 100% !important; }
.fxb-a { flex-basis: auto !important; }
.fxb0 { flex-basis: 0 !important; }
.fxb1 { flex-basis: 1px !important; }
.fxb1p { flex-basis: 1% !important; }
.fxb5p { flex-basis: 5% !important; }
.fxb10p { flex-basis: 10% !important; }
.fxb15p { flex-basis: 15% !important; }
.fxb20p { flex-basis: 20% !important; }
.fxb25p { flex-basis: 25% !important; }
.fxb30p { flex-basis: 30% !important; }
.fxb33p { flex-basis: 33% !important; }
.fxb34p { flex-basis: 34% !important; }
.fxb35p { flex-basis: 35% !important; }
.fxb40p { flex-basis: 40% !important; }
.fxb45p { flex-basis: 45% !important; }
.fxb50p { flex-basis: 50% !important; }
.fxb55p { flex-basis: 55% !important; }
.fxb60p { flex-basis: 60% !important; }
.fxb65p { flex-basis: 65% !important; }
.fxb66p { flex-basis: 66% !important; }
.fxb67p { flex-basis: 67% !important; }
.fxb70p { flex-basis: 70% !important; }
.fxb75p { flex-basis: 75% !important; }
.fxb80p { flex-basis: 80% !important; }
.fxb85p { flex-basis: 85% !important; }
.fxb90p { flex-basis: 90% !important; }
.fxb95p { flex-basis: 95% !important; }
.fxb100p { flex-basis: 100% !important; }
.fxb25vw { flex-basis: 25vw !important; }
.fxb50vw { flex-basis: 50vw !important; }
.fxb75vw { flex-basis: 75vw !important; }
.fxb90vw { flex-basis: 90vw !important; }
.fxb100vw { flex-basis: 100vw !important; }
.fxb25vh { flex-basis: 25vh !important; }
.fxb50vh { flex-basis: 50vh !important; }
.fxb75vh { flex-basis: 75vh !important; }
.fxb90vh { flex-basis: 90vh !important; }
.fxb100vh { flex-basis: 100vh !important; }
.fxb100vmax { flex-basis: 100vmax !important; }
.fxb100vmin { flex-basis: 100vmin !important; }
.fxb-c { flex-basis: content !important; }
.fxd-r { flex-direction: row !important; }
.fxd-rr { flex-direction: row-reverse !important; }
.fxd-c { flex-direction: column !important; }
.fxd-cr { flex-direction: column-reverse !important; }
.fxw-n { flex-wrap: nowrap !important; }
.fxw-w { flex-wrap: wrap !important; }
.fxw-wr { flex-wrap: wrap-reverse !important; }
.fxs0 { flex-shrink: 0 !important; }
.fxs1 { flex-shrink: 1 !important; }
.fxs2 { flex-shrink: 2 !important; }
.fxs3 { flex-shrink: 3 !important; }
.fxg0 { flex-grow: 0 !important; }
.fxg1 { flex-grow: 1 !important; }
.fxg2 { flex-grow: 2 !important; }
.fxg3 { flex-grow: 3 !important; }
.ac-fs { align-content: flex-start !important; }
.ac-fe { align-content: flex-end !important; }
.ac-c { align-content: center !important; }
.ac-sb { align-content: space-between !important; }
.ac-sa { align-content: space-around !important; }
.ac-s { align-content: stretch !important; }
.ai-fs { align-items: flex-start !important; }
.ai-fe { align-items: flex-end !important; }
.ai-c { align-items: center !important; }
.ai-b { align-items: baseline !important; }
.ai-s { align-items: stretch !important; }
.as-a { align-self: auto !important; }
.as-fs { align-self: flex-start !important; }
.as-fe { align-self: flex-end !important; }
.as-c { align-self: center !important; }
.as-b { align-self: baseline !important; }
.as-s { align-self: stretch !important; }
.jc-fs { justify-content: flex-start !important; }
.jc-fe { justify-content: flex-end !important; }
.jc-c { justify-content: center !important; }
.jc-sb { justify-content: space-between !important; }
.jc-sa { justify-content: space-around !important; }
.ord0 { order: 0 !important; }
.ord1 { order: 1 !important; }
.ord2 { order: 2 !important; }
.ord3 { order: 3 !important; }
.ord4 { order: 4 !important; }
.ord5 { order: 5 !important; }
.ord6 { order: 6 !important; }
.ord9999 { order: 9999 !important; }
.ord-1 { order: -1 !important; }
.ov-v { overflow: visible !important; }
.ov-h { overflow: hidden !important; }
.ov-s { overflow: scroll !important; }
.ov-a { overflow: auto !important; }
.ovx-v { overflow-x: visible !important; }
.ovx-h { overflow-x: hidden !important; }
.ovx-s { overflow-x: scroll !important; }
.ovx-a { overflow-x: auto !important; }
.ovy-v { overflow-y: visible !important; }
.ovy-h { overflow-y: hidden !important; }
.ovy-s { overflow-y: scroll !important; }
.ovy-a { overflow-y: auto !important; }
.v-v { visibility: visible !important; }
.v-h { visibility: hidden !important; }
.v-c { visibility: collapse !important; }
.tbl-a { table-layout: auto !important; }
.tbl-f { table-layout: fixed !important; }
.abce { bottom: 0 !important; left: 0 !important; margin: auto !important; position: auto !important; right: 0 !important; top: 0 !important; }
.fl-n { float: none !important; }
.fl-l { float: left !important; }
.fl-r { float: right !important; }
.cl-n { clear: none !important; }
.cl-l { clear: left !important; }
.cl-r { clear: right !important; }
.cl-b { clear: both !important; }
.cf::after { content: ""; display: table; clear: both; }
.w-a { width: auto !important; }
.w0 { width: 0 !important; }
.w1 { width: 1px !important; }
.w1p { width: 1% !important; }
.w5p { width: 5% !important; }
.w10p { width: 10% !important; }
.w15p { width: 15% !important; }
.w20p { width: 20% !important; }
.w25p { width: 25% !important; }
.w30p { width: 30% !important; }
.w33p { width: 33% !important; }
.w34p { width: 34% !important; }
.w35p { width: 35% !important; }
.w40p { width: 40% !important; }
.w45p { width: 45% !important; }
.w50p { width: 50% !important; }
.w55p { width: 55% !important; }
.w60p { width: 60% !important; }
.w65p { width: 65% !important; }
.w66p { width: 66% !important; }
.w67p { width: 67% !important; }
.w70p { width: 70% !important; }
.w75p { width: 75% !important; }
.w80p { width: 80% !important; }
.w85p { width: 85% !important; }
.w90p { width: 90% !important; }
.w95p { width: 95% !important; }
.w100p { width: 100% !important; }
.w25vw { width: 25vw !important; }
.w50vw { width: 50vw !important; }
.w75vw { width: 75vw !important; }
.w90vw { width: 90vw !important; }
.w100vw { width: 100vw !important; }
.w100vh { width: 100vh !important; }
.w100vmax { width: 100vmax !important; }
.w100vmin { width: 100vmin !important; }
.miw0 { min-width: 0 !important; }
.miw1 { min-width: 1px !important; }
.miw1p { min-width: 1% !important; }
.miw5p { min-width: 5% !important; }
.miw10p { min-width: 10% !important; }
.miw15p { min-width: 15% !important; }
.miw20p { min-width: 20% !important; }
.miw25p { min-width: 25% !important; }
.miw30p { min-width: 30% !important; }
.miw33p { min-width: 33% !important; }
.miw34p { min-width: 34% !important; }
.miw35p { min-width: 35% !important; }
.miw40p { min-width: 40% !important; }
.miw45p { min-width: 45% !important; }
.miw50p { min-width: 50% !important; }
.miw55p { min-width: 55% !important; }
.miw60p { min-width: 60% !important; }
.miw65p { min-width: 65% !important; }
.miw66p { min-width: 66% !important; }
.miw67p { min-width: 67% !important; }
.miw70p { min-width: 70% !important; }
.miw75p { min-width: 75% !important; }
.miw80p { min-width: 80% !important; }
.miw85p { min-width: 85% !important; }
.miw90p { min-width: 90% !important; }
.miw95p { min-width: 95% !important; }
.miw100p { min-width: 100% !important; }
.miw25vw { min-width: 25vw !important; }
.miw50vw { min-width: 50vw !important; }
.miw75vw { min-width: 75vw !important; }
.miw90vw { min-width: 90vw !important; }
.miw100vw { min-width: 100vw !important; }
.miw100vh { min-width: 100vh !important; }
.miw100vmax { min-width: 100vmax !important; }
.miw100vmin { min-width: 100vmin !important; }
.maw-n { max-width: none !important; }
.maw0 { max-width: 0 !important; }
.maw1 { max-width: 1px !important; }
.maw1p { max-width: 1% !important; }
.maw5p { max-width: 5% !important; }
.maw10p { max-width: 10% !important; }
.maw15p { max-width: 15% !important; }
.maw20p { max-width: 20% !important; }
.maw25p { max-width: 25% !important; }
.maw30p { max-width: 30% !important; }
.maw33p { max-width: 33% !important; }
.maw34p { max-width: 34% !important; }
.maw35p { max-width: 35% !important; }
.maw40p { max-width: 40% !important; }
.maw45p { max-width: 45% !important; }
.maw50p { max-width: 50% !important; }
.maw55p { max-width: 55% !important; }
.maw60p { max-width: 60% !important; }
.maw65p { max-width: 65% !important; }
.maw66p { max-width: 66% !important; }
.maw67p { max-width: 67% !important; }
.maw70p { max-width: 70% !important; }
.maw75p { max-width: 75% !important; }
.maw80p { max-width: 80% !important; }
.maw85p { max-width: 85% !important; }
.maw90p { max-width: 90% !important; }
.maw95p { max-width: 95% !important; }
.maw100p { max-width: 100% !important; }
.maw25vw { max-width: 25vw !important; }
.maw50vw { max-width: 50vw !important; }
.maw75vw { max-width: 75vw !important; }
.maw90vw { max-width: 90vw !important; }
.maw100vw { max-width: 100vw !important; }
.maw100vh { max-width: 100vh !important; }
.maw100vmax { max-width: 100vmax !important; }
.maw100vmin { max-width: 100vmin !important; }
.h-a { height: auto !important; }
.h0 { height: 0 !important; }
.h100p { height: 100% !important; }
.h100vw { height: 100vw !important; }
.h25vh { height: 25vh !important; }
.h50vh { height: 50vh !important; }
.h75vh { height: 75vh !important; }
.h90vh { height: 90vh !important; }
.h100vh { height: 100vh !important; }
.h100vmax { height: 100vmax !important; }
.h100vmin { height: 100vmin !important; }
.mih0 { min-height: 0 !important; }
.mih1 { min-height: 1px !important; }
.mih100vw { min-height: 100vw !important; }
.mih25vh { min-height: 25vh !important; }
.mih50vh { min-height: 50vh !important; }
.mih75vh { min-height: 75vh !important; }
.mih90vh { min-height: 90vh !important; }
.mih100vh { min-height: 100vh !important; }
.mih100vmax { min-height: 100vmax !important; }
.mih100vmin { min-height: 100vmin !important; }
.mah-n { max-height: none !important; }
.mah100p { max-height: 100% !important; }
.mah100vw { max-height: 100vw !important; }
.mah25vh { max-height: 25vh !important; }
.mah50vh { max-height: 50vh !important; }
.mah75vh { max-height: 75vh !important; }
.mah90vh { max-height: 90vh !important; }
.mah100vh { max-height: 100vh !important; }
.mah100vmax { max-height: 100vmax !important; }
.mah100vmin { max-height: 100vmin !important; }
.p0 { padding: 0 !important; }
.p-xs { padding: 0.2rem !important; }
.p-sm { padding: 0.5rem !important; }
.p-md { padding: 1rem !important; }
.p-lg { padding: 1.5rem !important; }
.p-xl { padding: 3rem !important; }
.pt0 { padding-top: 0 !important; }
.pt-xs { padding-top: 0.2rem !important; }
.pt-sm { padding-top: 0.5rem !important; }
.pt-md { padding-top: 1rem !important; }
.pt-lg { padding-top: 1.5rem !important; }
.pt-xl { padding-top: 3rem !important; }
.pr0 { padding-right: 0 !important; }
.pr-xs { padding-right: 0.2rem !important; }
.pr-sm { padding-right: 0.5rem !important; }
.pr-md { padding-right: 1rem !important; }
.pr-lg { padding-right: 1.5rem !important; }
.pr-xl { padding-right: 3rem !important; }
.pb0 { padding-bottom: 0 !important; }
.pb-xs { padding-bottom: 0.2rem !important; }
.pb-sm { padding-bottom: 0.5rem !important; }
.pb-md { padding-bottom: 1rem !important; }
.pb-lg { padding-bottom: 1.5rem !important; }
.pb-xl { padding-bottom: 3rem !important; }
.pl0 { padding-left: 0 !important; }
.pl-xs { padding-left: 0.2rem !important; }
.pl-sm { padding-left: 0.5rem !important; }
.pl-md { padding-left: 1rem !important; }
.pl-lg { padding-left: 1.5rem !important; }
.pl-xl { padding-left: 3rem !important; }
.px0 { padding-left: 0 !important; padding-right: 0 !important; }
.py0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.px-xs { padding-left: 0.2rem !important; padding-right: 0.2rem !important; }
.py-xs { padding-top: 0.2rem !important; padding-bottom: 0.2rem !important; }
.px-sm { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
.py-sm { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
.px-md { padding-left: 1rem !important; padding-right: 1rem !important; }
.py-md { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.px-lg { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.py-lg { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
.px-xl { padding-left: 3rem !important; padding-right: 3rem !important; }
.py-xl { padding-top: 3rem !important; padding-bottom: 3rem !important; }
.m0 { margin: 0 !important; }
.m-a { margin: auto !important; }
.m0-a { margin: 0 auto !important; }
.m-a-0 { margin: auto 0 !important; }
.m-xs { margin: 0.2rem !important; }
.m-sm { margin: 0.5rem !important; }
.m-md { margin: 1rem !important; }
.m-lg { margin: 1.5rem !important; }
.m-xl { margin: 3rem !important; }
.mt0 { margin-top: 0 !important; }
.mt-a { margin-top: auto !important; }
.mt-xs { margin-top: 0.2rem !important; }
.mt-sm { margin-top: 0.5rem !important; }
.mt-md { margin-top: 1rem !important; }
.mt-lg { margin-top: 1.5rem !important; }
.mt-xl { margin-top: 3rem !important; }
.mr0 { margin-right: 0 !important; }
.mr-a { margin-right: auto !important; }
.mr-xs { margin-right: 0.2rem !important; }
.mr-sm { margin-right: 0.5rem !important; }
.mr-md { margin-right: 1rem !important; }
.mr-lg { margin-right: 1.5rem !important; }
.mr-xl { margin-right: 3rem !important; }
.mb0 { margin-bottom: 0 !important; }
.mb-a { margin-bottom: auto !important; }
.mb-xs { margin-bottom: 0.2rem !important; }
.mb-sm { margin-bottom: 0.5rem !important; }
.mb-md { margin-bottom: 1rem !important; }
.mb-lg { margin-bottom: 1.5rem !important; }
.mb-xl { margin-bottom: 3rem !important; }
.ml0 { margin-left: 0 !important; }
.ml-a { margin-left: auto !important; }
.ml-xs { margin-left: 0.2rem !important; }
.ml-sm { margin-left: 0.5rem !important; }
.ml-md { margin-left: 1rem !important; }
.ml-lg { margin-left: 1.5rem !important; }
.ml-xl { margin-left: 3rem !important; }
.mx0 { margin-left: 0 !important; margin-right: 0 !important; }
.my0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.mx-a { margin-left: auto !important; margin-right: auto !important; }
.my-a { margin-top: auto !important; margin-bottom: auto !important; }
.mx-xs { margin-left: 0.2rem !important; margin-right: 0.2rem !important; }
.my-xs { margin-top: 0.2rem !important; margin-bottom: 0.2rem !important; }
.mx-sm { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.my-sm { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.mx-md { margin-left: 1rem !important; margin-right: 1rem !important; }
.my-md { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.mx-lg { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.my-lg { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
.mx-xl { margin-left: 3rem !important; margin-right: 3rem !important; }
.my-xl { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.ff-s { font-family: serif !important; }
.ff-ss { font-family: sans-serif !important; }
.ff-c { font-family: cursive !important; }
.ff-f { font-family: fantasy !important; }
.ff-m { font-family: monospace !important; }
.ff-a { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important; }
.ff-t { font-family: "Times New Roman", Times, Baskerville, Georgia, serif !important; }
.ff-v { font-family: Verdana, Geneva, sans-serif !important; }
.ff-l { font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, "Helvetica Neue", Helvetica, sans-serif !important; }
.ff-ja { font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, Meiryo, sans-serif !important; }
.fz-xs { font-size: 0.75rem !important; }
.fz-sm { font-size: 0.875rem !important; }
.fz-md { font-size: 1rem !important; }
.fz-lg { font-size: 1.25rem !important; }
.fz-xl { font-size: 1.5rem !important; }
.fz-sr { font-size: smaller !important; }
.fz-lr { font-size: larger !important; }
.fz0 { font-size: 0 !important; }
.fz10 { font-size: 10px !important; }
.fz11 { font-size: 11px !important; }
.fz12 { font-size: 12px !important; }
.fz13 { font-size: 13px !important; }
.fz14 { font-size: 14px !important; }
.fz15 { font-size: 15px !important; }
.fz16 { font-size: 16px !important; }
.fz17 { font-size: 17px !important; }
.fz18 { font-size: 18px !important; }
.fz19 { font-size: 19px !important; }
.fz20 { font-size: 20px !important; }
.fz-h1 { font-size: 2.5rem !important; }
.fz-h2 { font-size: 2rem !important; }
.fz-h3 { font-size: 1.75rem !important; }
.fz-h4 { font-size: 1.5rem !important; }
.fz-h5 { font-size: 1.25rem !important; }
.fz-h6 { font-size: 1rem !important; }
.fs-nm { font-style: normal !important; }
.fs-i { font-style: italic !important; }
.fs-o { font-style: oblique !important; }
.fw-nm { font-weight: normal !important; }
.fw-b { font-weight: bold !important; }
.fw-br { font-weight: bolder !important; }
.fw-lr { font-weight: lighter !important; }
.fw100 { font-weight: 100 !important; }
.fw200 { font-weight: 200 !important; }
.fw300 { font-weight: 300 !important; }
.fw400 { font-weight: 400 !important; }
.fw500 { font-weight: 500 !important; }
.fw600 { font-weight: 600 !important; }
.fw700 { font-weight: 700 !important; }
.fw800 { font-weight: 800 !important; }
.fw900 { font-weight: 900 !important; }
.fv-nm { font-variant: normal !important; }
.fv-sc { font-variant: small-caps !important; }
.wkfsm-aa { -webkit-font-smoothing: antialiased !important; }
.wkfsm-saa { -webkit-font-smoothing: subpixel-antialiased !important; }
.wkfsm-n { -webkit-font-smoothing: none !important; }
.mzfsm-g { -moz-osx-font-smoothing: grayscale !important; }
.mzfsm-u { -moz-osx-font-smoothing: unset !important; }
.lh-nm { line-height: normal !important; }
.lh-ih { line-height: inherit !important; }
.lh0 { line-height: 0 !important; }
.lh1 { line-height: 1 !important; }
.lh2 { line-height: 2 !important; }
.lh3 { line-height: 3 !important; }
.lh4 { line-height: 4 !important; }
.lh5 { line-height: 5 !important; }
.lh6 { line-height: 6 !important; }
.lh-xs { line-height: 1.25 !important; }
.lh-sm { line-height: 1.33 !important; }
.lh-md { line-height: 1.5 !important; }
.lh-lg { line-height: 1.75 !important; }
.lh-xl { line-height: 2 !important; }
.c-ih { color: inherit !important; }
.c-white { color: #ffffff !important; }
.c-silver { color: #dddddd !important; }
.c-gray { color: #aaaaaa !important; }
.c-black { color: #000000 !important; }
.c-navy { color: #001f3f !important; }
.c-blue { color: #0074d9 !important; }
.c-aqua { color: #7fdbff !important; }
.c-teal { color: #39cccc !important; }
.c-olive { color: #3d9970 !important; }
.c-green { color: #2ecc40 !important; }
.c-lime { color: #01ff70 !important; }
.c-yellow { color: #ffdc00 !important; }
.c-orange { color: #ff851b !important; }
.c-red { color: #ff4136 !important; }
.c-maroon { color: #85144b !important; }
.c-fuchsia { color: #f012be !important; }
.c-purple { color: #b10dc9 !important; }
.c-primary { color: #0275d8 !important; }
.c-success { color: #5cb85c !important; }
.c-info { color: #5bc0de !important; }
.c-warning { color: #f0ad4e !important; }
.c-danger { color: #d9534f !important; }
.ta-l { text-align: left !important; }
.ta-c { text-align: center !important; }
.ta-r { text-align: right !important; }
.ta-j { text-align: justify !important; }
.te-n { text-emphasis: none !important; }
.te-ac { text-emphasis: accent !important; }
.te-dt { text-emphasis: dot !important; }
.te-c { text-emphasis: circle !important; }
.te-ds { text-emphasis: disc !important; }
.te-b { text-emphasis: before !important; }
.te-a { text-emphasis: after !important; }
.td-n { text-decoration: none !important; }
.td-u { text-decoration: underline !important; }
.td-o { text-decoration: overline !important; }
.td-l { text-decoration: line-through !important; }
.ti0 { text-indent: 0 !important; }
.ti-9999 { text-indent: -9999px !important; }
.tov-e { text-overflow: ellipsis !important; }
.tov-c { text-overflow: clip !important; }
.tsh-n { text-shadow: none !important; }
.tt-n { text-transform: none !important; }
.tt-c { text-transform: capitalize !important; }
.tt-u { text-transform: uppercase !important; }
.tt-l { text-transform: lowercase !important; }
.lts-nm { letter-spacing: normal !important; }
.lts0 { letter-spacing: 0 !important; }
.lts1 { letter-spacing: 1px !important; }
.lts2 { letter-spacing: 2px !important; }
.lts3 { letter-spacing: 3px !important; }
.lts4 { letter-spacing: 4px !important; }
.lts5 { letter-spacing: 5px !important; }
.lts6 { letter-spacing: 6px !important; }
.lts0_01e { letter-spacing: 0.01em !important; }
.lts0_1e { letter-spacing: 0.1em !important; }
.lts0_2e { letter-spacing: 0.2em !important; }
.lts0_3e { letter-spacing: 0.3em !important; }
.lts-0_01e { letter-spacing: -0.01em !important; }
.lts-0_1e { letter-spacing: -0.1em !important; }
.lts-0_2e { letter-spacing: -0.2em !important; }
.lts-0_3e { letter-spacing: -0.3em !important; }
.wob-nm { word-break: normal !important; }
.wob-k { word-break: keep-all !important; }
.wob-ba { word-break: break-all !important; }
.wow-nm { word-wrap: normal !important; }
.wow-n { word-wrap: none !important; }
.wow-u { word-wrap: unrestricted !important; }
.wow-s { word-wrap: suppress !important; }
.wow-bw { word-wrap: break-word !important; }
.whs-nm { white-space: normal !important; }
.whs-p { white-space: pre !important; }
.whs-nw { white-space: nowrap !important; }
.whs-pw { white-space: pre-wrap !important; }
.whs-pl { white-space: pre-line !important; }
.va-sup { vertical-align: super !important; }
.va-t { vertical-align: top !important; }
.va-tt { vertical-align: text-top !important; }
.va-m { vertical-align: middle !important; }
.va-bl { vertical-align: baseline !important; }
.va-b { vertical-align: bottom !important; }
.va-tb { vertical-align: text-bottom !important; }
.va-sub { vertical-align: sub !important; }
.lis-n { list-style: none !important; }
.lisp-i { list-style-position: inside !important; }
.lisp-o { list-style-position: outside !important; }
.list-n { list-style-type: none !important; }
.list-d { list-style-type: disc !important; }
.list-c { list-style-type: circle !important; }
.list-s { list-style-type: square !important; }
.list-de { list-style-type: decimal !important; }
.list-dlz { list-style-type: decimal-leading-zero !important; }
.list-lr { list-style-type: lower-roman !important; }
.list-ur { list-style-type: upper-roman !important; }
.lisi-n { list-style-image: none !important; }
.op0 { opacity: 0 !important; }
.op0_1 { opacity: 0.1 !important; }
.op0_2 { opacity: 0.2 !important; }
.op0_3 { opacity: 0.3 !important; }
.op0_4 { opacity: 0.4 !important; }
.op0_5 { opacity: 0.5 !important; }
.op0_6 { opacity: 0.6 !important; }
.op0_7 { opacity: 0.7 !important; }
.op0_8 { opacity: 0.8 !important; }
.op0_9 { opacity: 0.9 !important; }
.op1 { opacity: 1 !important; }
.tetr { overflow: hidden !important; text-overflow: ellipsis !important; white-space: nowrap !important; word-wrap: normal !important; }
.tehi { overflow: hidden !important; text-indent: 200% !important; white-space: nowrap !important; }
.reli { list-style: none !important; padding-left: 0 !important; }
.fsm-a { -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale !important; }
.cur-a { cursor: auto !important; }
.cur-d { cursor: default !important; }
.cur-c { cursor: crosshair !important; }
.cur-ha { cursor: hand !important; }
.cur-he { cursor: help !important; }
.cur-m { cursor: move !important; }
.cur-p { cursor: pointer !important; }
.cur-t { cursor: text !important; }
.rz-n { resize: none !important; }
.rz-b { resize: both !important; }
.rz-h { resize: horizontal !important; }
.rz-v { resize: vertical !important; }
.us-a { user-select: auto !important; }
.us-n { user-select: none !important; }
.us-t { user-select: text !important; }
.trf-n { transform: none !important; }
.ap-n { appearance: none !important; }
.ap-b { appearance: button !important; }
.ap-c { appearance: checkbox !important; }
.ap-su { appearance: scrollbarbutton-up !important; }
.bfv-h { backface-visibility: hidden !important; }
.bfv-v { backface-visibility: visible !important; }
.obf-f { object-fit: fill !important; }
.obf-ct { object-fit: contain !important; }
.obf-cv { object-fit: cover !important; }
.obf-n { object-fit: none !important; }
.obf-sd { object-fit: scale-down !important; }
.wktc-d { -webkit-touch-callout: default !important; }
.wktc-n { -webkit-touch-callout: none !important; }
.wkovs-a { -webkit-overflow-scrolling: auto !important; }
.wkovs-t { -webkit-overflow-scrolling: touch !important; }
.bdcl-c { border-collapse: collapse !important; }
.bdcl-s { border-collapse: separate !important; }
.bd-n { border: none !important; }
.bd0 { border: 0 !important; }
.bdc-t { border-color: transparent !important; }
.bdc-cc { border-color: currentColor !important; }
.bdc-white { border-color: #ffffff !important; }
.bdc-silver { border-color: #dddddd !important; }
.bdc-gray { border-color: #aaaaaa !important; }
.bdc-black { border-color: #000000 !important; }
.bdc-navy { border-color: #001f3f !important; }
.bdc-blue { border-color: #0074d9 !important; }
.bdc-aqua { border-color: #7fdbff !important; }
.bdc-teal { border-color: #39cccc !important; }
.bdc-olive { border-color: #3d9970 !important; }
.bdc-green { border-color: #2ecc40 !important; }
.bdc-lime { border-color: #01ff70 !important; }
.bdc-yellow { border-color: #ffdc00 !important; }
.bdc-orange { border-color: #ff851b !important; }
.bdc-red { border-color: #ff4136 !important; }
.bdc-maroon { border-color: #85144b !important; }
.bdc-fuchsia { border-color: #f012be !important; }
.bdc-purple { border-color: #b10dc9 !important; }
.bdc-primary { border-color: #0275d8 !important; }
.bdc-success { border-color: #5cb85c !important; }
.bdc-info { border-color: #5bc0de !important; }
.bdc-warning { border-color: #f0ad4e !important; }
.bdc-danger { border-color: #d9534f !important; }
.bds-n { border-style: none !important; }
.bds-h { border-style: hidden !important; }
.bds-dt { border-style: dotted !important; }
.bds-ds { border-style: dashed !important; }
.bds-s { border-style: solid !important; }
.bds-db { border-style: double !important; }
.bds-w { border-style: wave !important; }
.bds-g { border-style: groove !important; }
.bds-r { border-style: ridge !important; }
.bds-i { border-style: inset !important; }
.bds-o { border-style: outset !important; }
.bdw0 { border-width: 0 !important; }
.bdw1 { border-width: 1px !important; }
.bdw2 { border-width: 2px !important; }
.bdw3 { border-width: 3px !important; }
.bdw4 { border-width: 4px !important; }
.bdw5 { border-width: 5px !important; }
.bdw6 { border-width: 6px !important; }
.bdt-n { border-top: none !important; }
.bdt0 { border-top: 0 !important; }
.bdtc-t { border-top-color: transparent !important; }
.bdtc-cc { border-top-color: currentColor !important; }
.bdtw0 { border-top-width: 0 !important; }
.bdtw1 { border-top-width: 1px !important; }
.bdtw2 { border-top-width: 2px !important; }
.bdtw3 { border-top-width: 3px !important; }
.bdtw4 { border-top-width: 4px !important; }
.bdtw5 { border-top-width: 5px !important; }
.bdtw6 { border-top-width: 6px !important; }
.bdr-n { border-right: none !important; }
.bdr0 { border-right: 0 !important; }
.bdrc-t { border-right-color: transparent !important; }
.bdrc-cc { border-right-color: currentColor !important; }
.bdrw0 { border-right-width: 0 !important; }
.bdrw1 { border-right-width: 1px !important; }
.bdrw2 { border-right-width: 2px !important; }
.bdrw3 { border-right-width: 3px !important; }
.bdrw4 { border-right-width: 4px !important; }
.bdrw5 { border-right-width: 5px !important; }
.bdrw6 { border-right-width: 6px !important; }
.bdb-n { border-bottom: none !important; }
.bdb0 { border-bottom: 0 !important; }
.bdbc-t { border-bottom-color: transparent !important; }
.bdbc-cc { border-bottom-color: currentColor !important; }
.bdbw0 { border-bottom-width: 0 !important; }
.bdbw1 { border-bottom-width: 1px !important; }
.bdbw2 { border-bottom-width: 2px !important; }
.bdbw3 { border-bottom-width: 3px !important; }
.bdbw4 { border-bottom-width: 4px !important; }
.bdbw5 { border-bottom-width: 5px !important; }
.bdbw6 { border-bottom-width: 6px !important; }
.bdl-n { border-left: none !important; }
.bdl0 { border-left: 0 !important; }
.bdlc-t { border-left-color: transparent !important; }
.bdlc-cc { border-left-color: currentColor !important; }
.bdlw0 { border-left-width: 0 !important; }
.bdlw1 { border-left-width: 1px !important; }
.bdlw2 { border-left-width: 2px !important; }
.bdlw3 { border-left-width: 3px !important; }
.bdlw4 { border-left-width: 4px !important; }
.bdlw5 { border-left-width: 5px !important; }
.bdlw6 { border-left-width: 6px !important; }
.bdrs-xs { border-radius: 0.1rem !important; }
.bdrs-sm { border-radius: 0.2rem !important; }
.bdrs-md { border-radius: 0.25rem !important; }
.bdrs-lg { border-radius: 0.3rem !important; }
.bdrs-xl { border-radius: 0.4rem !important; }
.bdrs0 { border-radius: 0 !important; }
.bdrs1 { border-radius: 1px !important; }
.bdrs2 { border-radius: 2px !important; }
.bdrs3 { border-radius: 3px !important; }
.bdrs4 { border-radius: 4px !important; }
.bdrs5 { border-radius: 5px !important; }
.bdrs6 { border-radius: 6px !important; }
.bdrs9999 { border-radius: 9999px !important; }
.bdrs50p { border-radius: 50% !important; }
.bdi-n { border-image: none !important; }
.ol-n { outline: none !important; }
.olw-tn { outline-width: thin !important; }
.olw-md { outline-width: medium !important; }
.olw-tc { outline-width: thick !important; }
.ols-n { outline-style: none !important; }
.ols-dt { outline-style: dotted !important; }
.ols-ds { outline-style: dashed !important; }
.ols-s { outline-style: solid !important; }
.ols-db { outline-style: double !important; }
.ols-g { outline-style: groove !important; }
.ols-r { outline-style: ridge !important; }
.ols-i { outline-style: inset !important; }
.ols-o { outline-style: outset !important; }
.olc-i { outline-color: invert !important; }
.bg-n { background: none !important; }
.bgc-t { background-color: transparent !important; }
.bgc-cc { background-color: currentColor !important; }
.bgc-white { background-color: #ffffff !important; }
.bgc-silver { background-color: #dddddd !important; }
.bgc-gray { background-color: #aaaaaa !important; }
.bgc-black { background-color: #000000 !important; }
.bgc-navy { background-color: #001f3f !important; }
.bgc-blue { background-color: #0074d9 !important; }
.bgc-aqua { background-color: #7fdbff !important; }
.bgc-teal { background-color: #39cccc !important; }
.bgc-olive { background-color: #3d9970 !important; }
.bgc-green { background-color: #2ecc40 !important; }
.bgc-lime { background-color: #01ff70 !important; }
.bgc-yellow { background-color: #ffdc00 !important; }
.bgc-orange { background-color: #ff851b !important; }
.bgc-red { background-color: #ff4136 !important; }
.bgc-maroon { background-color: #85144b !important; }
.bgc-fuchsia { background-color: #f012be !important; }
.bgc-purple { background-color: #b10dc9 !important; }
.bgc-primary { background-color: #0275d8 !important; }
.bgc-success { background-color: #5cb85c !important; }
.bgc-info { background-color: #5bc0de !important; }
.bgc-warning { background-color: #f0ad4e !important; }
.bgc-danger { background-color: #d9534f !important; }
.bgi-n { background-image: none !important; }
.bgr-n { background-repeat: no-repeat !important; }
.bgr-rx { background-repeat: repeat-x !important; }
.bgr-ry { background-repeat: repeat-y !important; }
.bgr-sp { background-repeat: space !important; }
.bgr-rd { background-repeat: round !important; }
.bga-f { background-attachment: fixed !important; }
.bga-s { background-attachment: scroll !important; }
.bgp-t { background-position: top !important; }
.bgp-r { background-position: right !important; }
.bgp-b { background-position: bottom !important; }
.bgp-l { background-position: left !important; }
.bgp-c { background-position: center !important; }
.bgz-a { background-size: auto !important; }
.bgz-ct { background-size: contain !important; }
.bgz-cv { background-size: cover !important; }
.bxsh-n { box-shadow: none !important; }
