// Absolute center
.#{$emma-prefix}abce {
  bottom: 0 #{emma-important($emma-important)};
  left: 0 #{emma-important($emma-important)};
  margin: auto #{emma-important($emma-important)};
  position: auto #{emma-important($emma-important)};
  right: 0 #{emma-important($emma-important)};
  top: 0 #{emma-important($emma-important)};
}
