.#{$emma-prefix}bgr-n {
  background-repeat: no-repeat #{emma-important($emma-important)};
}

.#{$emma-prefix}bgr-rx {
  background-repeat: repeat-x #{emma-important($emma-important)};
}

.#{$emma-prefix}bgr-ry {
  background-repeat: repeat-y #{emma-important($emma-important)};
}

.#{$emma-prefix}bgr-sp {
  background-repeat: space #{emma-important($emma-important)};
}

.#{$emma-prefix}bgr-rd {
  background-repeat: round #{emma-important($emma-important)};
}
