.#{$emma-prefix}bgc-t {
  background-color: transparent #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-cc {
  background-color: currentColor #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-white {
  background-color: $emma-color-white #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-silver {
  background-color: $emma-color-silver #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-gray {
  background-color: $emma-color-gray #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-black {
  background-color: $emma-color-black #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-navy {
  background-color: $emma-color-navy #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-blue {
  background-color: $emma-color-blue #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-aqua {
  background-color: $emma-color-aqua #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-teal {
  background-color: $emma-color-teal #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-olive {
  background-color: $emma-color-olive #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-green {
  background-color: $emma-color-green #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-lime {
  background-color: $emma-color-lime #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-yellow {
  background-color: $emma-color-yellow #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-orange {
  background-color: $emma-color-orange #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-red {
  background-color: $emma-color-red #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-maroon {
  background-color: $emma-color-maroon #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-fuchsia {
  background-color: $emma-color-fuchsia #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-purple {
  background-color: $emma-color-purple #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-primary {
  background-color: $emma-color-primary #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-success {
  background-color: $emma-color-success #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-info {
  background-color: $emma-color-info #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-warning {
  background-color: $emma-color-warning #{emma-important($emma-important)};
}

.#{$emma-prefix}bgc-danger {
  background-color: $emma-color-danger #{emma-important($emma-important)};
}

