.#{$emma-prefix}bdlw-0 {
  border-left-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw-1 {
  border-left-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw-2 {
  border-left-width: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw-3 {
  border-left-width: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw-4 {
  border-left-width: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw-5 {
  border-left-width: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw-6 {
  border-left-width: 6px #{emma-important($emma-important)};
}

