.#{$emma-prefix}bdw0 {
  border-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw1 {
  border-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw2 {
  border-width: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw3 {
  border-width: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw4 {
  border-width: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw5 {
  border-width: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw6 {
  border-width: 6px #{emma-important($emma-important)};
}
