.#{$emma-prefix}bdrw0 {
  border-right-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw1 {
  border-right-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw2 {
  border-right-width: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw3 {
  border-right-width: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw4 {
  border-right-width: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw5 {
  border-right-width: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw6 {
  border-right-width: 6px #{emma-important($emma-important)};
}
