.#{$emma-prefix}bdtw0 {
  border-top-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw1 {
  border-top-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw2 {
  border-top-width: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw3 {
  border-top-width: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw4 {
  border-top-width: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw5 {
  border-top-width: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw6 {
  border-top-width: 6px #{emma-important($emma-important)};
}
