.#{$emma-prefix}bdbw-0 {
  border-bottom-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw-1 {
  border-bottom-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw-2 {
  border-bottom-width: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw-3 {
  border-bottom-width: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw-4 {
  border-bottom-width: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw-5 {
  border-bottom-width: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw-6 {
  border-bottom-width: 6px #{emma-important($emma-important)};
}

