.#{$emma-prefix}bdtw-0 {
  border-top-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw-1 {
  border-top-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw-2 {
  border-top-width: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw-3 {
  border-top-width: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw-4 {
  border-top-width: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw-5 {
  border-top-width: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdtw-6 {
  border-top-width: 6px #{emma-important($emma-important)};
}

