.#{$emma-prefix}bdc-t {
  border-color: transparent #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-cc {
  border-color: currentColor #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-white {
  border-color: $emma-color-white #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-silver {
  border-color: $emma-color-silver #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-gray {
  border-color: $emma-color-gray #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-black {
  border-color: $emma-color-black #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-navy {
  border-color: $emma-color-navy #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-blue {
  border-color: $emma-color-blue #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-aqua {
  border-color: $emma-color-aqua #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-teal {
  border-color: $emma-color-teal #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-olive {
  border-color: $emma-color-olive #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-green {
  border-color: $emma-color-green #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-lime {
  border-color: $emma-color-lime #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-yellow {
  border-color: $emma-color-yellow #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-orange {
  border-color: $emma-color-orange #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-red {
  border-color: $emma-color-red #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-maroon {
  border-color: $emma-color-maroon #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-fuchsia {
  border-color: $emma-color-fuchsia #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-purple {
  border-color: $emma-color-purple #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-primary {
  border-color: $emma-color-primary #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-success {
  border-color: $emma-color-success #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-info {
  border-color: $emma-color-info #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-warning {
  border-color: $emma-color-warning #{emma-important($emma-important)};
}

.#{$emma-prefix}bdc-danger {
  border-color: $emma-color-danger #{emma-important($emma-important)};
}

