.#{$emma-prefix}bdrw-0 {
  border-right-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw-1 {
  border-right-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw-2 {
  border-right-width: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw-3 {
  border-right-width: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw-4 {
  border-right-width: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw-5 {
  border-right-width: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrw-6 {
  border-right-width: 6px #{emma-important($emma-important)};
}

