.#{$emma-prefix}bdbw0 {
  border-bottom-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw1 {
  border-bottom-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw2 {
  border-bottom-width: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw3 {
  border-bottom-width: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw4 {
  border-bottom-width: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw5 {
  border-bottom-width: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdbw6 {
  border-bottom-width: 6px #{emma-important($emma-important)};
}
