.#{$emma-prefix}bdrs-xs {
  border-radius: $emma-border-radius-xs #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-sm {
  border-radius: $emma-border-radius-sm #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-md {
  border-radius: $emma-border-radius-md #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-lg {
  border-radius: $emma-border-radius-lg #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-xl {
  border-radius: $emma-border-radius-xl #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-0 {
  border-radius: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-1 {
  border-radius: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-2 {
  border-radius: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-3 {
  border-radius: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-4 {
  border-radius: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-5 {
  border-radius: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-6 {
  border-radius: 6px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdrs-100p {
  border-radius: 100% #{emma-important($emma-important)};
}

