.#{$emma-prefix}bdw-0 {
  border-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw-1 {
  border-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw-2 {
  border-width: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw-3 {
  border-width: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw-4 {
  border-width: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw-5 {
  border-width: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdw-6 {
  border-width: 6px #{emma-important($emma-important)};
}

