.#{$emma-prefix}c-i {
  color: inherit #{emma-important($emma-important)};
}

.#{$emma-prefix}c-white {
  color: $emma-color-white #{emma-important($emma-important)};
}

.#{$emma-prefix}c-silver {
  color: $emma-color-silver #{emma-important($emma-important)};
}

.#{$emma-prefix}c-gray {
  color: $emma-color-gray #{emma-important($emma-important)};
}

.#{$emma-prefix}c-black {
  color: $emma-color-black #{emma-important($emma-important)};
}

.#{$emma-prefix}c-navy {
  color: $emma-color-navy #{emma-important($emma-important)};
}

.#{$emma-prefix}c-blue {
  color: $emma-color-blue #{emma-important($emma-important)};
}

.#{$emma-prefix}c-aqua {
  color: $emma-color-aqua #{emma-important($emma-important)};
}

.#{$emma-prefix}c-teal {
  color: $emma-color-teal #{emma-important($emma-important)};
}

.#{$emma-prefix}c-olive {
  color: $emma-color-olive #{emma-important($emma-important)};
}

.#{$emma-prefix}c-green {
  color: $emma-color-green #{emma-important($emma-important)};
}

.#{$emma-prefix}c-lime {
  color: $emma-color-lime #{emma-important($emma-important)};
}

.#{$emma-prefix}c-yellow {
  color: $emma-color-yellow #{emma-important($emma-important)};
}

.#{$emma-prefix}c-orange {
  color: $emma-color-orange #{emma-important($emma-important)};
}

.#{$emma-prefix}c-red {
  color: $emma-color-red #{emma-important($emma-important)};
}

.#{$emma-prefix}c-maroon {
  color: $emma-color-maroon #{emma-important($emma-important)};
}

.#{$emma-prefix}c-fuchsia {
  color: $emma-color-fuchsia #{emma-important($emma-important)};
}

.#{$emma-prefix}c-purple {
  color: $emma-color-purple #{emma-important($emma-important)};
}

.#{$emma-prefix}c-primary {
  color: $emma-color-primary #{emma-important($emma-important)};
}

.#{$emma-prefix}c-success {
  color: $emma-color-success #{emma-important($emma-important)};
}

.#{$emma-prefix}c-info {
  color: $emma-color-info #{emma-important($emma-important)};
}

.#{$emma-prefix}c-warning {
  color: $emma-color-warning #{emma-important($emma-important)};
}

.#{$emma-prefix}c-danger {
  color: $emma-color-danger #{emma-important($emma-important)};
}

