.#{$emma-prefix}fxb-a {
  flex-basis: auto #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb0 {
  flex-basis: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb1 {
  flex-basis: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb1p {
  flex-basis: 1% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb5p {
  flex-basis: 5% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb10p {
  flex-basis: 10% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb15p {
  flex-basis: 15% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb20p {
  flex-basis: 20% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb25p {
  flex-basis: 25% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb30p {
  flex-basis: 30% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb33p {
  flex-basis: 33% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb34p {
  flex-basis: 34% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb35p {
  flex-basis: 35% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb40p {
  flex-basis: 40% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb45p {
  flex-basis: 45% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb50p {
  flex-basis: 50% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb55p {
  flex-basis: 55% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb60p {
  flex-basis: 60% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb65p {
  flex-basis: 65% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb66p {
  flex-basis: 66% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb67p {
  flex-basis: 67% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb70p {
  flex-basis: 70% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb75p {
  flex-basis: 75% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb80p {
  flex-basis: 80% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb85p {
  flex-basis: 85% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb90p {
  flex-basis: 90% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb95p {
  flex-basis: 95% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb100p {
  flex-basis: 100% #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb25vw {
  flex-basis: 25vw #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb50vw {
  flex-basis: 50vw #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb75vw {
  flex-basis: 75vw #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb90vw {
  flex-basis: 90vw #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb100vw {
  flex-basis: 100vw #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb25vh {
  flex-basis: 25vh #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb50vh {
  flex-basis: 50vh #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb75vh {
  flex-basis: 75vh #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb90vh {
  flex-basis: 90vh #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb100vh {
  flex-basis: 100vh #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb100vmax {
  flex-basis: 100vmax #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb100vmin {
  flex-basis: 100vmin #{emma-important($emma-important)};
}

.#{$emma-prefix}fxb-c {
  flex-basis: content #{emma-important($emma-important)};
}

