.#{$emma-prefix}fx-n {
  flex: none #{emma-important($emma-important)};
}

.#{$emma-prefix}fx1-1-a {
  flex: 1 1 auto #{emma-important($emma-important)};
}

.#{$emma-prefix}fx1-0-a {
  flex: 1 0 auto #{emma-important($emma-important)};
}

.#{$emma-prefix}fx0-1-a {
  flex: 0 1 auto #{emma-important($emma-important)};
}

.#{$emma-prefix}fx1-1-1 {
  flex: 1 1 1px #{emma-important($emma-important)};
}

