.#{$emma-prefix}fxs0 {
  flex-shrink: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}fxs1 {
  flex-shrink: 1 #{emma-important($emma-important)};
}

.#{$emma-prefix}fxs2 {
  flex-shrink: 2 #{emma-important($emma-important)};
}

.#{$emma-prefix}fxs3 {
  flex-shrink: 3 #{emma-important($emma-important)};
}
