.#{$emma-prefix}fs-nm {
  font-style: normal #{emma-important($emma-important)};
}

.#{$emma-prefix}fs-i {
  font-style: italic #{emma-important($emma-important)};
}

.#{$emma-prefix}fs-o {
  font-style: oblique #{emma-important($emma-important)};
}
