.#{$emma-prefix}fw-nm {
  font-weight: normal #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-b {
  font-weight: bold #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-br {
  font-weight: bolder #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-lr {
  font-weight: lighter #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-100 {
  font-weight: 100 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-200 {
  font-weight: 200 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-300 {
  font-weight: 300 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-400 {
  font-weight: 400 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-500 {
  font-weight: 500 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-600 {
  font-weight: 600 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-700 {
  font-weight: 700 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-800 {
  font-weight: 800 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-900 {
  font-weight: 900 #{emma-important($emma-important)};
}

