.#{$emma-prefix}m0 {
  margin: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}m-a {
  margin: auto #{emma-important($emma-important)};
}

.#{$emma-prefix}m0-a {
  margin: 0 auto #{emma-important($emma-important)};
}

.#{$emma-prefix}m-a-0 {
  margin: auto 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}m-xs {
  margin: $emma-margin-xs #{emma-important($emma-important)};
}

.#{$emma-prefix}m-sm {
  margin: $emma-margin-sm #{emma-important($emma-important)};
}

.#{$emma-prefix}m-md {
  margin: $emma-margin-md #{emma-important($emma-important)};
}

.#{$emma-prefix}m-lg {
  margin: $emma-margin-lg #{emma-important($emma-important)};
}

.#{$emma-prefix}m-xl {
  margin: $emma-margin-xl #{emma-important($emma-important)};
}

