.#{$emma-prefix}maw-n {
  max-width: none #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-1p {
  max-width: 1% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-10p {
  max-width: 10% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-20p {
  max-width: 20% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-25p {
  max-width: 25% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-30p {
  max-width: 30% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-33p {
  max-width: 33% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-40p {
  max-width: 40% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-50p {
  max-width: 50% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-60p {
  max-width: 60% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-66p {
  max-width: 66% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-70p {
  max-width: 70% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-75p {
  max-width: 75% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-80p {
  max-width: 80% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-90p {
  max-width: 90% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw-100p {
  max-width: 100% #{emma-important($emma-important)};
}

