.#{$emma-prefix}maw-n {
  max-width: none #{emma-important($emma-important)};
}

.#{$emma-prefix}maw1p {
  max-width: 1% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw10p {
  max-width: 10% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw20p {
  max-width: 20% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw25p {
  max-width: 25% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw30p {
  max-width: 30% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw33p {
  max-width: 33% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw40p {
  max-width: 40% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw50p {
  max-width: 50% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw60p {
  max-width: 60% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw66p {
  max-width: 66% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw70p {
  max-width: 70% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw75p {
  max-width: 75% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw80p {
  max-width: 80% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw90p {
  max-width: 90% #{emma-important($emma-important)};
}

.#{$emma-prefix}maw100p {
  max-width: 100% #{emma-important($emma-important)};
}

