.#{$emma-prefix}miw0 {
  min-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}miw1 {
  min-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}miw1p {
  min-width: 1% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw5p {
  min-width: 5% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw10p {
  min-width: 10% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw15p {
  min-width: 15% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw20p {
  min-width: 20% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw25p {
  min-width: 25% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw30p {
  min-width: 30% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw33p {
  min-width: 33% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw34p {
  min-width: 34% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw35p {
  min-width: 35% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw40p {
  min-width: 40% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw45p {
  min-width: 45% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw50p {
  min-width: 50% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw55p {
  min-width: 55% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw60p {
  min-width: 60% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw65p {
  min-width: 65% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw66p {
  min-width: 66% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw67p {
  min-width: 67% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw70p {
  min-width: 70% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw75p {
  min-width: 75% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw80p {
  min-width: 80% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw85p {
  min-width: 85% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw90p {
  min-width: 90% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw95p {
  min-width: 95% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw100p {
  min-width: 100% #{emma-important($emma-important)};
}

.#{$emma-prefix}miw25vw {
  min-width: 25vw #{emma-important($emma-important)};
}

.#{$emma-prefix}miw50vw {
  min-width: 50vw #{emma-important($emma-important)};
}

.#{$emma-prefix}miw75vw {
  min-width: 75vw #{emma-important($emma-important)};
}

.#{$emma-prefix}miw90vw {
  min-width: 90vw #{emma-important($emma-important)};
}

.#{$emma-prefix}miw100vw {
  min-width: 100vw #{emma-important($emma-important)};
}

.#{$emma-prefix}miw100vh {
  min-width: 100vh #{emma-important($emma-important)};
}

.#{$emma-prefix}miw100vmax {
  min-width: 100vmax #{emma-important($emma-important)};
}

.#{$emma-prefix}miw100vmin {
  min-width: 100vmin #{emma-important($emma-important)};
}
