.#{$emma-prefix}ord-0 {
  order: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord-1 {
  order: 1 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord-2 {
  order: 2 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord-3 {
  order: 3 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord-4 {
  order: 4 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord-5 {
  order: 5 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord-6 {
  order: 6 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord-9999 {
  order: 9999 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord--1 {
  order: -1 #{emma-important($emma-important)};
}

