.#{$emma-prefix}ord0 {
  order: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord1 {
  order: 1 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord2 {
  order: 2 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord3 {
  order: 3 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord4 {
  order: 4 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord5 {
  order: 5 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord6 {
  order: 6 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord9999 {
  order: 9999 #{emma-important($emma-important)};
}

.#{$emma-prefix}ord-1 {
  order: -1 #{emma-important($emma-important)};
}

