.#{$emma-prefix}ovy-v {
  overflow-y: visible #{emma-important($emma-important)};
}

.#{$emma-prefix}ovy-h {
  overflow-y: hidden #{emma-important($emma-important)};
}

.#{$emma-prefix}ovy-s {
  overflow-y: scroll #{emma-important($emma-important)};
}

.#{$emma-prefix}ovy-a {
  overflow-y: auto #{emma-important($emma-important)};
}

