.#{$emma-prefix}wkfsm-a {
  -webkit-font-smoothing: antialiased #{emma-important($emma-important)};
}

.#{$emma-prefix}wkfsm-sa {
  -webkit-font-smoothing: subpixel-antialiased #{emma-important($emma-important)};
}

.#{$emma-prefix}wkfsm-n {
  -webkit-font-smoothing: none #{emma-important($emma-important)};
}

