.#{$emma-prefix}w-a {
  width: auto #{emma-important($emma-important)};
}

.#{$emma-prefix}w0 {
  width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}w1p {
  width: 1% #{emma-important($emma-important)};
}

.#{$emma-prefix}w10p {
  width: 10% #{emma-important($emma-important)};
}

.#{$emma-prefix}w20p {
  width: 20% #{emma-important($emma-important)};
}

.#{$emma-prefix}w25p {
  width: 25% #{emma-important($emma-important)};
}

.#{$emma-prefix}w30p {
  width: 30% #{emma-important($emma-important)};
}

.#{$emma-prefix}w33p {
  width: 33% #{emma-important($emma-important)};
}

.#{$emma-prefix}w40p {
  width: 40% #{emma-important($emma-important)};
}

.#{$emma-prefix}w50p {
  width: 50% #{emma-important($emma-important)};
}

.#{$emma-prefix}w60p {
  width: 60% #{emma-important($emma-important)};
}

.#{$emma-prefix}w66p {
  width: 66% #{emma-important($emma-important)};
}

.#{$emma-prefix}w70p {
  width: 70% #{emma-important($emma-important)};
}

.#{$emma-prefix}w75p {
  width: 75% #{emma-important($emma-important)};
}

.#{$emma-prefix}w80p {
  width: 80% #{emma-important($emma-important)};
}

.#{$emma-prefix}w90p {
  width: 90% #{emma-important($emma-important)};
}

.#{$emma-prefix}w100p {
  width: 100% #{emma-important($emma-important)};
}

