.#{$emma-prefix}w-a {
  width: auto #{emma-important($emma-important)};
}

.#{$emma-prefix}w-0 {
  width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}w-1p {
  width: 1% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-10p {
  width: 10% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-20p {
  width: 20% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-25p {
  width: 25% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-30p {
  width: 30% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-33p {
  width: 33% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-40p {
  width: 40% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-50p {
  width: 50% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-60p {
  width: 60% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-66p {
  width: 66% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-70p {
  width: 70% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-75p {
  width: 75% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-80p {
  width: 80% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-90p {
  width: 90% #{emma-important($emma-important)};
}

.#{$emma-prefix}w-100p {
  width: 100% #{emma-important($emma-important)};
}

