.#{$emma-prefix}z-a {
  z-index: auto #{emma-important($emma-important)};
}

.#{$emma-prefix}z0 {
  z-index: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}z1 {
  z-index: 1 #{emma-important($emma-important)};
}

.#{$emma-prefix}z2 {
  z-index: 2 #{emma-important($emma-important)};
}

.#{$emma-prefix}z3 {
  z-index: 3 #{emma-important($emma-important)};
}

.#{$emma-prefix}z4 {
  z-index: 4 #{emma-important($emma-important)};
}

.#{$emma-prefix}z5 {
  z-index: 5 #{emma-important($emma-important)};
}

.#{$emma-prefix}z6 {
  z-index: 6 #{emma-important($emma-important)};
}

.#{$emma-prefix}z9999 {
  z-index: 9999 #{emma-important($emma-important)};
}

