.#{$emma-prefix}bgz-a {
  background-size: auto #{emma-important($emma-important)};
}

.#{$emma-prefix}bgz-ct {
  background-size: contain #{emma-important($emma-important)};
}

.#{$emma-prefix}bgz-cv {
  background-size: cover #{emma-important($emma-important)};
}
