.#{$emma-prefix}bdlw0 {
  border-left-width: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw1 {
  border-left-width: 1px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw2 {
  border-left-width: 2px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw3 {
  border-left-width: 3px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw4 {
  border-left-width: 4px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw5 {
  border-left-width: 5px #{emma-important($emma-important)};
}

.#{$emma-prefix}bdlw6 {
  border-left-width: 6px #{emma-important($emma-important)};
}
