// Default ul
.#{$emma-prefix}deul {
  list-style-type: disc #{emma-important($emma-important)};
  padding-left: 40px #{emma-important($emma-important)};
  padding-left: 40px #{emma-important($emma-important)};
  margin-top: 1em #{emma-important($emma-important)};
  margin-bottom: 1em #{emma-important($emma-important)};
}
