.#{$emma-prefix}fx-a {
  flex: auto #{emma-important($emma-important)};
}

.#{$emma-prefix}fx-n {
  flex: none #{emma-important($emma-important)};
}

.#{$emma-prefix}fx0 {
  flex: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}fx1 {
  flex: 1 #{emma-important($emma-important)};
}

.#{$emma-prefix}fx2 {
  flex: 2 #{emma-important($emma-important)};
}

.#{$emma-prefix}fx3 {
  flex: 3 #{emma-important($emma-important)};
}

.#{$emma-prefix}fx0-1-a {
  flex: 0 1 auto #{emma-important($emma-important)};
}

.#{$emma-prefix}fx1-0-a {
  flex: 1 0 auto #{emma-important($emma-important)};
}

.#{$emma-prefix}fx1-1-a {
  flex: 1 1 auto #{emma-important($emma-important)};
}

.#{$emma-prefix}fx0-0-a {
  flex: 0 0 auto #{emma-important($emma-important)};
}

.#{$emma-prefix}fx1-0-0 {
  flex: 1 0 0% #{emma-important($emma-important)};
}

.#{$emma-prefix}fx0-0-100p {
  flex: 0 0 100% #{emma-important($emma-important)};
}
