.#{$emma-prefix}fxg0 {
  flex-grow: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}fxg1 {
  flex-grow: 1 #{emma-important($emma-important)};
}

.#{$emma-prefix}fxg2 {
  flex-grow: 2 #{emma-important($emma-important)};
}

.#{$emma-prefix}fxg3 {
  flex-grow: 3 #{emma-important($emma-important)};
}

