.#{$emma-prefix}fl-n {
  float: none #{emma-important($emma-important)};
}

.#{$emma-prefix}fl-l {
  float: left #{emma-important($emma-important)};
}

.#{$emma-prefix}fl-r {
  float: right #{emma-important($emma-important)};
}

