.#{$emma-prefix}ff-s {
  font-family: $emma-font-family-serif #{emma-important($emma-important)};
}

.#{$emma-prefix}ff-ss {
  font-family: $emma-font-family-sans #{emma-important($emma-important)};
}

.#{$emma-prefix}ff-c {
  font-family: $emma-font-family-cursive #{emma-important($emma-important)};
}

.#{$emma-prefix}ff-f {
  font-family: $emma-font-family-fantasy #{emma-important($emma-important)};
}

.#{$emma-prefix}ff-m {
  font-family: $emma-font-family-mono #{emma-important($emma-important)};
}
