.#{$emma-prefix}fz-xs {
  font-size: $emma-font-size-xs #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-sm {
  font-size: $emma-font-size-sm #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-md {
  font-size: $emma-font-size-md #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-lg {
  font-size: $emma-font-size-lg #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-xl {
  font-size: $emma-font-size-xl #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-sr {
  font-size: smaller #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-lr {
  font-size: larger #{emma-important($emma-important)};
}

.#{$emma-prefix}fz0 {
  font-size: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}fz10 {
  font-size: 10px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz11 {
  font-size: 11px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz12 {
  font-size: 12px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz13 {
  font-size: 13px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz14 {
  font-size: 14px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz15 {
  font-size: 15px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz16 {
  font-size: 16px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz17 {
  font-size: 17px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz18 {
  font-size: 18px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz19 {
  font-size: 19px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz20 {
  font-size: 20px #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-h1 {
  font-size: $emma-font-size-h1 #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-h2 {
  font-size: $emma-font-size-h2 #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-h3 {
  font-size: $emma-font-size-h3 #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-h4 {
  font-size: $emma-font-size-h4 #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-h5 {
  font-size: $emma-font-size-h5 #{emma-important($emma-important)};
}

.#{$emma-prefix}fz-h6 {
  font-size: $emma-font-size-h6 #{emma-important($emma-important)};
}

