.#{$emma-prefix}fw-nm {
  font-weight: normal #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-b {
  font-weight: bold #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-br {
  font-weight: bolder #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-lr {
  font-weight: lighter #{emma-important($emma-important)};
}

.#{$emma-prefix}fw100 {
  font-weight: 100 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw200 {
  font-weight: 200 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw300 {
  font-weight: 300 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw400 {
  font-weight: 400 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw500 {
  font-weight: 500 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw600 {
  font-weight: 600 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw700 {
  font-weight: 700 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw800 {
  font-weight: 800 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw900 {
  font-weight: 900 #{emma-important($emma-important)};
}
