.#{$emma-prefix}fw-nm {
  font-weight: $emma-font-weight-normal #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-b {
  font-weight: $emma-font-weight-bold #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-l {
  font-weight: $emma-font-weight-light #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-br {
  font-weight: bolder #{emma-important($emma-important)};
}

.#{$emma-prefix}fw-lr {
  font-weight: lighter #{emma-important($emma-important)};
}

.#{$emma-prefix}fw100 {
  font-weight: $emma-font-weight-100 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw200 {
  font-weight: $emma-font-weight-200 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw300 {
  font-weight: $emma-font-weight-300 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw400 {
  font-weight: $emma-font-weight-400 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw500 {
  font-weight: $emma-font-weight-500 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw600 {
  font-weight: $emma-font-weight-600 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw700 {
  font-weight: $emma-font-weight-700 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw800 {
  font-weight: $emma-font-weight-800 #{emma-important($emma-important)};
}

.#{$emma-prefix}fw900 {
  font-weight: $emma-font-weight-900 #{emma-important($emma-important)};
}
