.#{$emma-prefix}op0 {
  opacity: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}op0_1 {
  opacity: 0.1 #{emma-important($emma-important)};
}

.#{$emma-prefix}op0_2 {
  opacity: 0.2 #{emma-important($emma-important)};
}

.#{$emma-prefix}op0_3 {
  opacity: 0.3 #{emma-important($emma-important)};
}

.#{$emma-prefix}op0_4 {
  opacity: 0.4 #{emma-important($emma-important)};
}

.#{$emma-prefix}op0_5 {
  opacity: 0.5 #{emma-important($emma-important)};
}

.#{$emma-prefix}op0_6 {
  opacity: 0.6 #{emma-important($emma-important)};
}

.#{$emma-prefix}op0_7 {
  opacity: 0.7 #{emma-important($emma-important)};
}

.#{$emma-prefix}op0_8 {
  opacity: 0.8 #{emma-important($emma-important)};
}

.#{$emma-prefix}op0_9 {
  opacity: 0.9 #{emma-important($emma-important)};
}

.#{$emma-prefix}op1 {
  opacity: 1 #{emma-important($emma-important)};
}
