// Reset list
.#{$emma-prefix}reli {
  list-style-type: none #{emma-important($emma-important)};
  padding-left: 0 #{emma-important($emma-important)};
  margin-top: 0 #{emma-important($emma-important)};
  margin-bottom: 0 #{emma-important($emma-important)};
}
