// Text truncation (ellipsis)
.#{$emma-prefix}tetr {
  overflow: hidden #{emma-important($emma-important)};
  text-overflow: ellipsis #{emma-important($emma-important)};
  white-space: nowrap #{emma-important($emma-important)};
  word-wrap: normal #{emma-important($emma-important)};
}
