.#{$emma-prefix}trsdr0 {
  transition-duration: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr0_1s {
  transition-duration: 0.1s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr0_2s {
  transition-duration: 0.2s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr0_3s {
  transition-duration: 0.3s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr0_4s {
  transition-duration: 0.4s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr0_5s {
  transition-duration: 0.5s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr0_6s {
  transition-duration: 0.6s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr0_7s {
  transition-duration: 0.7s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr0_8s {
  transition-duration: 0.8s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr0_9s {
  transition-duration: 0.9s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr1s {
  transition-duration: 1s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr2s {
  transition-duration: 2s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr3s {
  transition-duration: 3s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr4s {
  transition-duration: 4s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr5s {
  transition-duration: 5s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdr6s {
  transition-duration: 6s #{emma-important($emma-important)};
}
