.#{$emma-prefix}trsdl0 {
  transition-delay: 0 #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl0_1s {
  transition-delay: 0.1s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl0_2s {
  transition-delay: 0.2s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl0_3s {
  transition-delay: 0.3s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl0_4s {
  transition-delay: 0.4s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl0_5s {
  transition-delay: 0.5s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl0_6s {
  transition-delay: 0.6s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl0_7s {
  transition-delay: 0.7s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl0_8s {
  transition-delay: 0.8s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl0_9s {
  transition-delay: 0.9s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl1s {
  transition-delay: 1s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl2s {
  transition-delay: 2s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl3s {
  transition-delay: 3s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl4s {
  transition-delay: 4s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl5s {
  transition-delay: 5s #{emma-important($emma-important)};
}

.#{$emma-prefix}trsdl6s {
  transition-delay: 6s #{emma-important($emma-important)};
}
